Repository tb1337/paperless-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, mypy, pylint, pytest, yamllint

ruff-check:
  name: ğŸ¶ Ruff Linter
  language: system
  entry: uv run ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: ğŸ¶ Ruff Formatter
  language: system
  entry: uv run ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-ast:
  name: ğŸ Check Python AST
  language: system
  entry: uv run check-ast

check-docstring-first:
  name: â„¹ï¸  Check docstring is first
  language: system
  entry: uv run check-docstring-first

check-json:
  name: ï½› Check JSON files
  language: system
  entry: uv run check-json

check-toml:
  name: âœ… Check TOML files
  language: system
  entry: uv run check-toml

check-yaml:
  name: âœ… Check YAML files
  language: system
  entry: uv run check-yaml

codespell:
  name: âœ… Check code for common misspellings
  language: system
  entry: uv run codespell

mypy:
  name: ğŸ† Static type checking using mypy
  language: system
  entry: uv run mypy
  require_serial: true

pylint:
  name: ğŸŒŸ Starring code with pylint
  language: system
  entry: uv run pylint

pytest:
  name: ğŸ§ª Running tests and test coverage with pytest
  language: system
  entry: uv run pytest
  pass_filenames: false

yamllint:
  name: ğŸ—  Check YAML files with yamllint
  language: system
  entry: uv run yamllint

Add tasks filter
  .github/skills/update-filters/SKILL.md
  pypaperless/models/filters.py
  pypaperless/models/types.py
  pypaperless/services/tasks.py
  tests/test_common.py
  tests/test_models_specific.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Rename reduce to filter
  .github/skills/add-resource/references/patterns.md
  .github/skills/update-filters/SKILL.md
  docs/index.md
  docs/resources.md
  docs/resources/correspondents.md
  docs/resources/custom_fields.md
  docs/resources/document_types.md
  docs/resources/groups.md
  docs/resources/mail_rules.md
  docs/resources/processed_mail.md
  docs/resources/saved_views.md
  docs/resources/share_links.md
  docs/resources/storage_paths.md
  docs/resources/tags.md
  docs/resources/users.md
  docs/resources/workflows.md
  pypaperless/models/filters.py
  pypaperless/services/correspondents.py
  pypaperless/services/custom_fields.py
  pypaperless/services/document_types.py
  pypaperless/services/documents.py
  pypaperless/services/mixins/iterable.py
  pypaperless/services/permissions.py
  pypaperless/services/share_links.py
  pypaperless/services/storage_paths.py
  pypaperless/services/tags.py
  pypaperless/services/trash.py
  script/pngx_smoketest.py
  tests/test_models_matrix.py
  tests/test_models_specific.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Implement custom field query
  docs/concepts/custom_field_query.md
  docs/resources/documents.md
  pypaperless/models/custom_field_query.py
  pypaperless/models/filters.py
  pypaperless/models/types.py
  script/pngx_smoketest.py
  tests/test_models_specific.py
  zensical.toml
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, codespell, mypy, pylint, pytest

Add typed resource filters (#577)
  .github/copilot-instructions.md
  .github/skills/add-resource/references/patterns.md
  .github/skills/update-filters/SKILL.md
  docs/concepts/custom_field_query.md
  docs/index.md
  docs/resources.md
  docs/resources/correspondents.md
  docs/resources/custom_fields.md
  docs/resources/document_types.md
  docs/resources/documents.md
  docs/resources/groups.md
  docs/resources/mail_rules.md
  docs/resources/processed_mail.md
  docs/resources/saved_views.md
  docs/resources/share_links.md
  docs/resources/storage_paths.md
  docs/resources/tags.md
  docs/resources/users.md
  docs/resources/workflows.md
  pypaperless/models/custom_field_query.py
  pypaperless/models/filters.py
  pypaperless/models/types.py
  pypaperless/services/correspondents.py
  pypaperless/services/custom_fields.py
  pypaperless/services/document_types.py
  pypaperless/services/documents.py
  pypaperless/services/mixins/iterable.py
  pypaperless/services/permissions.py
  pypaperless/services/share_links.py
  pypaperless/services/storage_paths.py
  pypaperless/services/tags.py
  pypaperless/services/tasks.py
  pypaperless/services/trash.py
  script/pngx_smoketest.py
  tests/test_common.py
  tests/test_models_matrix.py
  tests/test_models_specific.py
  zensical.toml
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, codespell, mypy, pylint, pytest

Fix little bugs
  docs/concepts/custom_field_query.md
  docs/concepts/custom_fields.md
  docs/concepts/documents.md
  docs/concepts/permissions.md
  docs/resources.md
Due: codespell

Add missing content
  docs/concepts/documents.md
  docs/resources/documents.md
  docs/resources/mail_rules.md
  docs/resources/status.md
  docs/resources/tasks.md
  docs/resources/trash.md
  docs/resources/workflows.md
Due: codespell

Add migration guide
  docs/migrating-v5-to-v6.md
  docs/stylesheets/extra.css
  zensical.toml
Due: check-toml, codespell

Update docs (#578)
  docs/concepts/custom_field_query.md
  docs/concepts/custom_fields.md
  docs/concepts/documents.md
  docs/concepts/permissions.md
  docs/migrating-v5-to-v6.md
  docs/resources.md
  docs/resources/documents.md
  docs/resources/mail_rules.md
  docs/resources/status.md
  docs/resources/tasks.md
  docs/resources/trash.md
  docs/resources/workflows.md
  docs/stylesheets/extra.css
  zensical.toml
Due: check-toml, codespell

Refine concepts
  docs/concepts/custom_field_query.md
  docs/concepts/custom_fields.md
  docs/concepts/documents.md
  docs/concepts/permissions.md
  docs/migrating-v5-to-v6.md
  docs/resources/status.md
Due: codespell

Refine resources
  docs/resources/config.md
  docs/resources/correspondents.md
  docs/resources/custom_fields.md
  docs/resources/document_types.md
  docs/resources/documents.md
  docs/resources/groups.md
  docs/resources/mail_accounts.md
  docs/resources/mail_rules.md
  docs/resources/processed_mail.md
  docs/resources/profile.md
  docs/resources/remote_version.md
  docs/resources/saved_views.md
  docs/resources/share_links.md
  docs/resources/statistics.md
  docs/resources/status.md
  docs/resources/storage_paths.md
  docs/resources/tags.md
  docs/resources/tasks.md
  docs/resources/trash.md
  docs/resources/users.md
  docs/resources/workflows.md
Due: codespell

Refine docs (#579)
  docs/concepts/custom_field_query.md
  docs/concepts/custom_fields.md
  docs/concepts/documents.md
  docs/concepts/permissions.md
  docs/migrating-v5-to-v6.md
  docs/resources/config.md
  docs/resources/correspondents.md
  docs/resources/custom_fields.md
  docs/resources/document_types.md
  docs/resources/documents.md
  docs/resources/groups.md
  docs/resources/mail_accounts.md
  docs/resources/mail_rules.md
  docs/resources/processed_mail.md
  docs/resources/profile.md
  docs/resources/remote_version.md
  docs/resources/saved_views.md
  docs/resources/share_links.md
  docs/resources/statistics.md
  docs/resources/status.md
  docs/resources/storage_paths.md
  docs/resources/tags.md
  docs/resources/tasks.md
  docs/resources/trash.md
  docs/resources/users.md
  docs/resources/workflows.md
Due: codespell

Reorganize errors
  docs/exceptions.md
  pypaperless/client.py
  pypaperless/exceptions.py
  tests/test_common.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Adjust migration guide
  docs/migrating-v5-to-v6.md
Due: codespell

Refactor tests
  pypaperless/models/base.py
  pypaperless/models/custom_field_query.py
  pypaperless/models/custom_fields.py
  pypaperless/utils.py
  tests/__init__.py
  tests/data/__init__.py
  tests/data/mails.py
  tests/data/workflows.py
  tests/mappings.py
  tests/test_client.py
  tests/test_common.py
  tests/test_custom_fields.py
  tests/test_documents.py
  tests/test_exceptions.py
  tests/test_filters.py
  tests/test_models_specific.py
  tests/test_resources.py
  tests/test_service_mixins.py
  tests/test_types.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Remove tests from mypy
  .pre-commit-config.yaml
  pyproject.toml
  tests/conftest.py
  tests/data/__init__.py
  tests/data/documents_search.py
  tests/data/mails.py
  tests/data/workflows.py
  tests/mappings.py
  tests/test_client.py
  tests/test_custom_fields.py
  tests/test_documents.py
  tests/test_exceptions.py
  tests/test_filters.py
  tests/test_resources.py
  tests/test_service_mixins.py
  tests/test_types.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, check-yaml, codespell, mypy, pylint, pytest, yamllint

Remove exclude
  pyproject.toml
Due: check-toml, codespell

Drop python 3.12. support
  .github/workflows/tests.yml
  README.md
  docs/index.md
  docs/migrating-v5-to-v6.md
  docs/quickstart.md
  pypaperless/const.py
  pypaperless/models/custom_field_query.py
  pypaperless/models/filters.py
  pypaperless/services/correspondents.py
  pypaperless/services/custom_fields.py
  pypaperless/services/document_types.py
  pypaperless/services/documents.py
  pypaperless/services/permissions.py
  pypaperless/services/share_links.py
  pypaperless/services/storage_paths.py
  pypaperless/services/tags.py
  pypaperless/services/trash.py
  pyproject.toml
  script/pngx_audit_coverage.py
  script/pngx_smoketest.py
  uv.lock
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, check-yaml, codespell, mypy, pylint, pytest, yamllint

Update README.md
  README.md
Due: codespell

Fix action
  .github/workflows/typing.yml
Due: check-yaml, codespell, yamllint

Add settings
  pypaperless/__init__.py
  pypaperless/client.py
  pypaperless/settings.py
  pyproject.toml
  tests/test_client.py
  uv.lock
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, codespell, mypy, pylint, pytest

Update docs
  docs/index.md
  docs/quickstart.md
  docs/session.md
Due: codespell

Add simple cli
  .github/copilot-instructions.md
  .github/skills/add-resource/SKILL.md
  .github/skills/add-resource/references/patterns.md
  pypaperless/__main__.py
  pypaperless/cli.py
  pypaperless/exceptions.py
  pypaperless/models/base.py
  pypaperless/models/documents.py
  pypaperless/models/pages.py
  pypaperless/services/documents.py
  pypaperless/services/generators/page.py
  pypaperless/services/mixins/callable.py
  pypaperless/services/mixins/draftable.py
  pypaperless/services/profile.py
  pypaperless/services/remote_version.py
  pypaperless/services/statistics.py
  pypaperless/services/status.py
  pypaperless/services/tasks.py
  pypaperless/utils.py
  pyproject.toml
  script/pngx_smoketest.py
  tests/test_cli.py
  tests/test_client.py
  tests/test_custom_fields.py
  tests/test_documents.py
  tests/test_resources.py
  uv.lock
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, codespell, mypy, pylint, pytest

Move env vars to const
  docs/quickstart.md
  docs/session.md
  pypaperless/cli.py
  pypaperless/client.py
  pypaperless/const.py
  pypaperless/settings.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Fix nested tags warning
  .github/copilot-instructions.md
  pypaperless/cli.py
  pypaperless/models/tags.py
  tests/test_cli.py
  tests/test_custom_fields.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Refactor model to be more idiomatic
  pypaperless/models/base.py
  pypaperless/models/documents.py
  pypaperless/models/tags.py
  script/pngx_smoketest.py
  tests/test_documents.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Clean method declarations
  pypaperless/models/base.py
  pypaperless/models/documents.py
  pypaperless/models/pages.py
  pypaperless/services/base.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Re-implement model shortcuts
  .github/skills/add-resource/references/patterns.md
  docs/concepts/custom_fields.md
  docs/concepts/documents.md
  docs/concepts/permissions.md
  docs/exceptions.md
  docs/migrating-v5-to-v6.md
  docs/resources.md
  docs/resources/correspondents.md
  docs/resources/custom_fields.md
  docs/resources/document_types.md
  docs/resources/documents.md
  docs/resources/share_links.md
  docs/resources/storage_paths.md
  docs/resources/tags.md
  pypaperless/models/correspondents.py
  pypaperless/models/custom_fields.py
  pypaperless/models/document_types.py
  pypaperless/models/documents.py
  pypaperless/models/mixins/__init__.py
  pypaperless/models/mixins/deletable.py
  pypaperless/models/mixins/saveable.py
  pypaperless/models/mixins/updatable.py
  pypaperless/models/share_links.py
  pypaperless/models/storage_paths.py
  pypaperless/models/tags.py
  pypaperless/services/documents.py
  pypaperless/services/mixins/draftable.py
  script/pngx_smoketest.py
  tests/mappings.py
  tests/test_client.py
  tests/test_documents.py
  tests/test_service_mixins.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Re-implement shortcuts
  docs/concepts/documents.md
  docs/migrating-v5-to-v6.md
  docs/resources/documents.md
  pypaperless/models/documents.py
  script/pngx_smoketest.py
  tests/test_documents.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Improve tests
  pypaperless/cli.py
  tests/test_cli.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add email and notes shortcuts
  docs/concepts/documents.md
  docs/migrating-v5-to-v6.md
  docs/resources/documents.md
  pypaperless/models/documents.py
  script/pngx_smoketest.py
  tests/test_documents.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Exclude vom audit coverage
  script/pngx_audit_coverage.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Implement document share links
  .github/copilot-instructions.md
  docs/concepts/documents.md
  docs/resources/documents.md
  pypaperless/client.py
  pypaperless/const.py
  pypaperless/models/base.py
  pypaperless/models/custom_fields.py
  pypaperless/models/documents.py
  pypaperless/models/mails.py
  pypaperless/models/pages.py
  pypaperless/models/permissions.py
  pypaperless/models/profile.py
  pypaperless/services/documents.py
  pypaperless/services/mixins/draftable.py
  pyproject.toml
  script/pngx_smoketest.py
  tests/data/__init__.py
  tests/data/document_share_links.py
  tests/test_documents.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, codespell, mypy, pylint, pytest

Restructure imports
  .github/copilot-instructions.md
  .github/skills/add-resource/references/patterns.md
  pypaperless/models/__init__.py
  pypaperless/models/document_history.py
  pypaperless/models/document_notes.py
  pypaperless/models/documents.py
  pypaperless/services/__init__.py
  pypaperless/services/document_history.py
  pypaperless/services/document_notes.py
  pypaperless/services/document_share_links.py
  pypaperless/services/documents.py
  script/pngx_smoketest.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Rename DraftableMixin to CreatableMixin
  .github/skills/add-resource/references/patterns.md
  pypaperless/services/correspondents.py
  pypaperless/services/custom_fields.py
  pypaperless/services/document_types.py
  pypaperless/services/documents/document.py
  pypaperless/services/mixins/__init__.py
  pypaperless/services/mixins/creatable.py
  pypaperless/services/share_links.py
  pypaperless/services/storage_paths.py
  pypaperless/services/tags.py
  tests/test_client.py
  tests/test_filters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Moved doc file services into separate file
  pypaperless/services/documents/document.py
  pypaperless/services/documents/files.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Clean up sub services
  pypaperless/services/documents/base.py
  pypaperless/services/documents/history.py
  pypaperless/services/documents/notes.py
  pypaperless/services/documents/share_links.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  codespell: any file but: ^(uv\.lock|requirements\.txt|requirements_dev.txt)$
  mypy: any of: \.py$
  pylint: any of: \.py$
  pytest: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
