Repository tb1337/paperless-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, mypy, pylint, pytest, yamllint

ruff-check:
  name: ğŸ¶ Ruff Linter
  language: system
  entry: uv run ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: ğŸ¶ Ruff Formatter
  language: system
  entry: uv run ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-ast:
  name: ğŸ Check Python AST
  language: system
  entry: uv run check-ast

check-docstring-first:
  name: â„¹ï¸  Check docstring is first
  language: system
  entry: uv run check-docstring-first

check-json:
  name: ï½› Check JSON files
  language: system
  entry: uv run check-json

check-toml:
  name: âœ… Check TOML files
  language: system
  entry: uv run check-toml

check-yaml:
  name: âœ… Check YAML files
  language: system
  entry: uv run check-yaml

codespell:
  name: âœ… Check code for common misspellings
  language: system
  entry: uv run codespell

mypy:
  name: ğŸ† Static type checking using mypy
  language: system
  entry: uv run mypy
  require_serial: true

pylint:
  name: ğŸŒŸ Starring code with pylint
  language: system
  entry: uv run pylint

pytest:
  name: ğŸ§ª Running tests and test coverage with pytest
  language: system
  entry: uv run pytest
  pass_filenames: false

yamllint:
  name: ğŸ—  Check YAML files with yamllint
  language: system
  entry: uv run yamllint

Enable mypy
  .pre-commit-config.yaml
Due: check-yaml, codespell, yamllint

Enable pylint
  .pre-commit-config.yaml
Due: check-yaml, codespell, yamllint

Enable pytest
  .pre-commit-config.yaml
Due: check-yaml, codespell, yamllint

Fix ruff and mypy errors
  tests/conftest.py
  tests/const.py
  tests/test_common.py
  tests/test_models_matrix.py
  tests/test_models_specific.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Remove request_args
  pypaperless/api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Further code adjustments
  pypaperless/__init__.py
  pypaperless/client.py
  pypaperless/models/base.py
  pypaperless/models/pages.py
  pypaperless/services/base.py
  pypaperless/services/documents.py
  pypaperless/services/generators/page.py
  pypaperless/services/mixins/deletable.py
  pypaperless/services/mixins/draftable.py
  pypaperless/services/mixins/updatable.py
  tests/test_common.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Remove dead code
  pypaperless/const.py
  pypaperless/models/common.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Rename _format_api_path function
  pypaperless/models/base.py
  pypaperless/models/config.py
  pypaperless/models/correspondents.py
  pypaperless/models/custom_fields.py
  pypaperless/models/document_types.py
  pypaperless/models/documents.py
  pypaperless/models/mails.py
  pypaperless/models/permissions.py
  pypaperless/models/saved_views.py
  pypaperless/models/share_links.py
  pypaperless/models/storage_paths.py
  pypaperless/models/tags.py
  pypaperless/models/tasks.py
  pypaperless/models/workflows.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Remove model __init__s
  pypaperless/models/base.py
  pypaperless/models/config.py
  pypaperless/models/correspondents.py
  pypaperless/models/custom_fields.py
  pypaperless/models/document_types.py
  pypaperless/models/documents.py
  pypaperless/models/mails.py
  pypaperless/models/permissions.py
  pypaperless/models/saved_views.py
  pypaperless/models/share_links.py
  pypaperless/models/storage_paths.py
  pypaperless/models/tags.py
  pypaperless/models/tasks.py
  pypaperless/models/workflows.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Rearrange pypaperless types
  pypaperless/models/__init__.py
  pypaperless/models/common.py
  pypaperless/models/custom_fields.py
  pypaperless/models/documents.py
  pypaperless/models/mixins/data_fields.py
  pypaperless/models/mixins/securable.py
  pypaperless/models/saved_views.py
  pypaperless/models/share_links.py
  pypaperless/models/statistics.py
  pypaperless/models/status.py
  pypaperless/models/tasks.py
  pypaperless/models/types.py
  pypaperless/models/workflows.py
  pypaperless/services/documents.py
  tests/__init__.py
  tests/test_common.py
  tests/test_models_matrix.py
  tests/test_models_specific.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Refactor PaperlessCache to a service
  pypaperless/client.py
  pypaperless/models/__init__.py
  pypaperless/models/common.py
  pypaperless/services/__init__.py
  pypaperless/services/cache.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Move utils to a new place
  pypaperless/client.py
  pypaperless/models/documents.py
  pypaperless/models/mixins/creatable.py
  pypaperless/models/utils/__init__.py
  pypaperless/services/mixins/updatable.py
  pypaperless/utils.py
  pyproject.toml
  tests/test_common.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, codespell, mypy, pylint, pytest

Fix imports
  pypaperless/models/documents.py
  pypaperless/services/documents.py
  pypaperless/utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Remove pylint from project
  .devcontainer/devcontainer.json
  .github/workflows/linting.yml
  .pre-commit-config.yaml
  Dockerfile.dev
  pypaperless/client.py
  pypaperless/const.py
  pypaperless/models/custom_fields.py
  pypaperless/models/documents.py
  pyproject.toml
  tests/test_models_matrix.py
  tests/test_models_specific.py
  uv.lock
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, mypy, pylint, pytest, yamllint

Adjust order
  .pre-commit-config.yaml
Due: check-yaml, codespell, yamllint

Add missing fields
  pypaperless/models/custom_fields.py
  pypaperless/models/tags.py
  pypaperless/models/workflows.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add possibility to post custom field maps with new docs
  pypaperless/models/documents.py
  tests/test_models_specific.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add docs website
  .gitignore
  docs/1_basic_usage.md
  docs/2_documents.md
  docs/3_custom_fields.md
  docs/4_permissions.md
  docs/README.md
  docs/custom_fields.md
  docs/documents.md
  docs/exceptions.md
  docs/index.md
  docs/permissions.md
  docs/quickstart.md
  docs/resources.md
  docs/resources/config.md
  docs/resources/correspondents.md
  docs/resources/custom_fields.md
  docs/resources/document_types.md
  docs/resources/documents.md
  docs/resources/groups.md
  docs/resources/mail_accounts.md
  docs/resources/mail_rules.md
  docs/resources/processed_mail.md
  docs/resources/remote_version.md
  docs/resources/saved_views.md
  docs/resources/share_links.md
  docs/resources/statistics.md
  docs/resources/status.md
  docs/resources/storage_paths.md
  docs/resources/tags.md
  docs/resources/tasks.md
  docs/resources/users.md
  docs/resources/workflows.md
  docs/session.md
  pyproject.toml
  uv.lock
  zensical.toml
Due: check-toml, codespell

Fix action
  .github/workflows/linting.yml
Due: check-yaml, codespell, yamllint

Organize docs
  .devcontainer/devcontainer.json
  README.md
  docs/concepts/custom_fields.md
  docs/concepts/documents.md
  docs/concepts/permissions.md
  docs/index.md
  docs/resources/correspondents.md
  docs/resources/custom_fields.md
  docs/resources/document_types.md
  docs/resources/documents.md
  docs/resources/mail_accounts.md
  docs/resources/mail_rules.md
  docs/resources/processed_mail.md
  docs/resources/saved_views.md
  docs/resources/storage_paths.md
  docs/resources/tags.md
  pyproject.toml
  zensical.toml
Due: check-json, check-toml, codespell

Check against python 3.12 until wie drop support
  pyproject.toml
Due: check-toml, codespell

Implement documents/history service
  pypaperless/const.py
  pypaperless/models/__init__.py
  pypaperless/models/documents.py
  pypaperless/services/documents.py
  tests/data/__init__.py
  tests/data/document_history.py
  tests/test_models_specific.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add document/history service and model (#572)
  .devcontainer/devcontainer.json
  README.md
  docs/concepts/custom_fields.md
  docs/concepts/documents.md
  docs/concepts/permissions.md
  docs/index.md
  docs/resources/correspondents.md
  docs/resources/custom_fields.md
  docs/resources/document_types.md
  docs/resources/documents.md
  docs/resources/mail_accounts.md
  docs/resources/mail_rules.md
  docs/resources/processed_mail.md
  docs/resources/saved_views.md
  docs/resources/storage_paths.md
  docs/resources/tags.md
  pypaperless/const.py
  pypaperless/models/__init__.py
  pypaperless/models/documents.py
  pypaperless/services/documents.py
  pyproject.toml
  tests/data/__init__.py
  tests/data/document_history.py
  tests/test_models_specific.py
  zensical.toml
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, codespell, mypy, pylint, pytest

Add trash service
  pypaperless/client.py
  pypaperless/const.py
  pypaperless/models/documents.py
  pypaperless/services/__init__.py
  pypaperless/services/trash.py
  tests/data/__init__.py
  tests/data/trash.py
  tests/test_models_specific.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add trash service (#573)
  pypaperless/client.py
  pypaperless/const.py
  pypaperless/models/documents.py
  pypaperless/services/__init__.py
  pypaperless/services/trash.py
  tests/data/__init__.py
  tests/data/trash.py
  tests/test_models_specific.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add profile service
  .github/skills/add-resource/SKILL.md
  .github/skills/add-resource/references/patterns.md
  docs/concepts/documents.md
  docs/resources.md
  docs/resources/profile.md
  docs/resources/trash.md
  pypaperless/client.py
  pypaperless/const.py
  pypaperless/models/__init__.py
  pypaperless/models/profile.py
  pypaperless/services/__init__.py
  pypaperless/services/profile.py
  tests/data/__init__.py
  tests/data/profile.py
  tests/test_models_specific.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add profile service (#574)
  .github/skills/add-resource/SKILL.md
  .github/skills/add-resource/references/patterns.md
  docs/concepts/documents.md
  docs/resources.md
  docs/resources/profile.md
  docs/resources/trash.md
  pypaperless/client.py
  pypaperless/const.py
  pypaperless/models/__init__.py
  pypaperless/models/profile.py
  pypaperless/services/__init__.py
  pypaperless/services/profile.py
  tests/data/__init__.py
  tests/data/profile.py
  tests/test_models_specific.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Update skill and docs
  .github/skills/add-resource/SKILL.md
  zensical.toml
Due: check-toml, codespell

Update skill and docs (#575)
  .github/skills/add-resource/SKILL.md
  zensical.toml
Due: check-toml, codespell

Exclude passwords from model
  pypaperless/models/permissions.py
  pypaperless/models/profile.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Improve permissions model and usage
  docs/concepts/permissions.md
  docs/resources/correspondents.md
  docs/resources/document_types.md
  docs/resources/documents.md
  docs/resources/mail_accounts.md
  docs/resources/mail_rules.md
  docs/resources/saved_views.md
  docs/resources/storage_paths.md
  docs/resources/tags.md
  pypaperless/models/mixins/securable.py
  pypaperless/models/types.py
  tests/test_models_matrix.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Improve requesting perms handling
  docs/concepts/permissions.md
  docs/resources/correspondents.md
  docs/resources/document_types.md
  docs/resources/documents.md
  docs/resources/mail_accounts.md
  docs/resources/mail_rules.md
  docs/resources/processed_mail.md
  docs/resources/saved_views.md
  docs/resources/storage_paths.md
  docs/resources/tags.md
  pypaperless/models/mixins/securable.py
  pypaperless/services/mixins/iterable.py
  pypaperless/services/mixins/securable.py
  tests/test_models_matrix.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add copilot instructions
  .github/copilot-instructions.md
  .vscode/tasks.json
Due: check-json, codespell

Rename util scripts
  .github/copilot-instructions.md
  .github/skills/add-resource/SKILL.md
  .vscode/tasks.json
  script/pngx_audit_coverage.py
  script/pngx_smoketest.py
  script/ruff.toml
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, codespell, mypy, pylint, pytest

Add ai notice
  script/pngx_audit_coverage.py
  script/pngx_smoketest.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Refactor object permissions (#576)
  .github/copilot-instructions.md
  .github/skills/add-resource/SKILL.md
  .vscode/tasks.json
  docs/concepts/permissions.md
  docs/resources/correspondents.md
  docs/resources/document_types.md
  docs/resources/documents.md
  docs/resources/mail_accounts.md
  docs/resources/mail_rules.md
  docs/resources/processed_mail.md
  docs/resources/saved_views.md
  docs/resources/storage_paths.md
  docs/resources/tags.md
  pypaperless/models/mixins/securable.py
  pypaperless/models/permissions.py
  pypaperless/models/profile.py
  pypaperless/models/types.py
  pypaperless/services/mixins/iterable.py
  pypaperless/services/mixins/securable.py
  script/pngx_audit_coverage.py
  script/pngx_smoketest.py
  script/ruff.toml
  tests/test_models_matrix.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, codespell, mypy, pylint, pytest

Implement typed filters for models
  .github/copilot-instructions.md
  .github/skills/update-filters/SKILL.md
  docs/resources.md
  pypaperless/models/filters.py
  pypaperless/models/types.py
  pypaperless/services/correspondents.py
  pypaperless/services/custom_fields.py
  pypaperless/services/document_types.py
  pypaperless/services/documents.py
  pypaperless/services/mixins/iterable.py
  pypaperless/services/permissions.py
  pypaperless/services/share_links.py
  pypaperless/services/storage_paths.py
  pypaperless/services/tags.py
  pypaperless/services/trash.py
  script/pngx_smoketest.py
  tests/test_common.py
  tests/test_models_specific.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Adjust comment
  pypaperless/models/filters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Sort fields
  .github/skills/update-filters/SKILL.md
  pypaperless/models/filters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  codespell: any file but: ^(uv\.lock|requirements\.txt|requirements_dev.txt)$
  mypy: any of: \.py$
  pylint: any of: \.py$
  pytest: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
