Repository tb1337/paperless-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, mypy, pylint, pytest, yamllint

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 41.1.4
    hooks:
      - id: renovate-config-validator
  - repo: local
    hooks:
      - id: ruff-check
        name: ğŸ¶ Ruff Linter
        language: system
        types: [python]
        entry: uv run ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: ğŸ¶ Ruff Formatter
        language: system
        types: [python]
        entry: uv run ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-ast
        name: ğŸ Check Python AST
        language: system
        types: [python]
        entry: uv run check-ast
      - id: check-case-conflict
        name: ğŸ”  Check for case conflicts
        language: system
        entry: uv run check-case-conflict
      - id: check-docstring-first
        name: â„¹ï¸  Check docstring is first
        language: system
        types: [python]
        entry: uv run check-docstring-first
      # - id: check-executables-have-shebangs
      #   name: ğŸ§ Check that executables have shebangs
      #   language: system
      #   types: [text, executable]
      #   entry: uv run check-executables-have-shebangs
      #   stages: [commit, push, manual]
      - id: check-json
        name: ï½› Check JSON files
        language: system
        types: [json]
        entry: uv run check-json
      - id: check-merge-conflict
        name: ğŸ’¥ Check for merge conflicts
        language: system
        types: [text]
        entry: uv run check-merge-conflict
      - id: check-symlinks
        name: ğŸ”— Check for broken symlinks
        language: system
        types: [symlink]
        entry: uv run check-symlinks
      - id: check-toml
        name: âœ… Check TOML files
        language: system
        types: [toml]
        entry: uv run check-toml
      - id: check-xml
        name: âœ… Check XML files
        entry: uv run check-xml
        language: system
        types: [xml]
      - id: check-yaml
        name: âœ… Check YAML files
        language: system
        types: [yaml]
        entry: uv run check-yaml
      - id: codespell
        name: âœ… Check code for common misspellings
        language: system
        types: [text]
        exclude: ^(uv\.lock|requirements\.txt|requirements_dev.txt)$
        entry: uv run codespell
      - id: detect-private-key
        name: ğŸ•µï¸  Detect Private Keys
        language: system
        types: [text]
        entry: uv run detect-private-key
      - id: end-of-file-fixer
        name: â®  Fix End of Files
        language: system
        types: [text]
        entry: uv run end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: mypy
        name: ğŸ† Static type checking using mypy
        language: system
        types: [python]
        entry: uv run mypy
        require_serial: true
      - id: no-commit-to-branch
        name: ğŸ›‘ Don't commit to main branch
        language: system
        entry: uv run no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: ğŸŒŸ Starring code with pylint
        language: system
        types: [python]
        entry: uv run pylint
      - id: pytest
        name: ğŸ§ª Running tests and test coverage with pytest
        language: system
        types: [python]
        entry: uv run pytest
        pass_filenames: false
      - id: trailing-whitespace
        name: âœ„  Trim Trailing Whitespace
        language: system
        types: [text]
        entry: uv run trailing-whitespace-fixer
        stages: [pre-commit, pre-push, manual]
      - id: yamllint
        name: ğŸ—  Check YAML files with yamllint
        language: system
        types: [yaml]
        entry: uv run yamllint

⚡ Optimize GitHub Actions to drastically reduce CI minutes (#622)
  .github/workflows/linting.yml
  .github/workflows/lock.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/tests.yml
  .github/workflows/typing.yml
Due: check-yaml, codespell, yamllint

Add find_duplicate() helper to skip uploads of known files
  docs/concepts/documents.md
  pypaperless/services/documents/document.py
  tests/test_documents.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Update lockfilemaintenance
  .github/renovate.json
Due: check-json, codespell

Update schedule
  .github/renovate.json
Due: check-json, codespell

Fix lint error
  tests/test_documents.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add find_duplicate() helper to skip uploads of known files (#623)
  docs/concepts/documents.md
  pypaperless/services/documents/document.py
  tests/test_documents.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Update local skills and add CLAUDE.md
  .claude/skills/pp-add-resource/SKILL.md
  .claude/skills/pp-add-resource/references/patterns.md
  .claude/skills/pp-update-filters/SKILL.md
  .github/copilot-instructions.md
  .github/skills/add-resource/references/patterns.md
  CLAUDE.md
Due: codespell

Update .gitignore
  .gitignore
Due: codespell

Fix service-context races and harden transport error handling
  docs/concepts/permissions.md
  docs/exceptions.md
  docs/migrating-v5-to-v6.md
  docs/resources.md
  pypaperless/client.py
  pypaperless/exceptions.py
  pypaperless/services/documents/document.py
  pypaperless/services/documents/files.py
  pypaperless/services/documents/versions.py
  pypaperless/services/mails/accounts.py
  pypaperless/services/mixins/callable.py
  pypaperless/services/mixins/iterable.py
  pypaperless/services/mixins/securable.py
  pypaperless/services/mixins/updatable.py
  pypaperless/transport.py
  pyproject.toml
  tests/test_client.py
  tests/test_exceptions.py
  tests/test_resources.py
  tests/test_service_mixins.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, codespell, mypy, pylint, pytest

Add page view counter to docs
  docs/javascripts/counter.js
  zensical.toml
Due: check-toml, codespell

Clean up review findings in services and pagination
  pypaperless/pagination.py
  pypaperless/services/documents/document.py
  pypaperless/services/mixins/creatable.py
  pypaperless/services/mixins/iterable.py
  tests/test_client.py
  tests/test_service_mixins.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Wrap all httpx transport errors in typed exceptions
  docs/exceptions.md
  docs/migrating-v5-to-v6.md
  pypaperless/exceptions.py
  pypaperless/transport.py
  tests/test_client.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Replace hand-rolled serialization with pydantic model_dump
  pypaperless/models/base.py
  pypaperless/models/documents/document.py
  pypaperless/models/mixins/creatable.py
  pypaperless/services/mixins/updatable.py
  pypaperless/utils.py
  tests/test_client.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Raise typed error when note creation returns an error payload
  pypaperless/services/documents/notes.py
  tests/test_documents.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Forbid unknown fields on draft models
  docs/migrating-v5-to-v6.md
  pypaperless/models/mixins/creatable.py
  tests/test_client.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Validate model field assignments
  docs/migrating-v5-to-v6.md
  pypaperless/models/base.py
  tests/test_client.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Retry flaky notes checks once in the smoketest
  script/pngx_smoketest.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Make id a required field on API-identified models
  docs/migrating-v5-to-v6.md
  pypaperless/models/base.py
  pypaperless/models/config.py
  pypaperless/models/correspondents.py
  pypaperless/models/custom_fields.py
  pypaperless/models/document_types.py
  pypaperless/models/documents/ai_suggestions.py
  pypaperless/models/documents/document.py
  pypaperless/models/documents/history.py
  pypaperless/models/documents/notes.py
  pypaperless/models/documents/versions.py
  pypaperless/models/mails/accounts.py
  pypaperless/models/mails/processed.py
  pypaperless/models/mails/rules.py
  pypaperless/models/permissions/groups.py
  pypaperless/models/permissions/users.py
  pypaperless/models/saved_views.py
  pypaperless/models/share_links/bundle.py
  pypaperless/models/share_links/share_link.py
  pypaperless/models/storage_paths.py
  pypaperless/models/tags.py
  pypaperless/models/tasks.py
  pypaperless/models/workflows/actions.py
  pypaperless/models/workflows/triggers.py
  pypaperless/models/workflows/workflow.py
  pypaperless/services/mixins/iterable.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Rebuild custom field values on RootModel and a discriminated union
  docs/migrating-v5-to-v6.md
  pypaperless/exceptions.py
  pypaperless/models/base.py
  pypaperless/models/custom_fields.py
  pypaperless/models/documents/document.py
  pypaperless/models/types.py
  tests/test_custom_fields.py
  tests/test_documents.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Hold the API token as SecretStr in PaperlessSettings
  docs/migrating-v5-to-v6.md
  pypaperless/client.py
  pypaperless/settings.py
  tests/test_client.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Compute model snapshots lazily from the raw API payload
  pypaperless/models/base.py
  tests/test_client.py
  tests/test_dispatch.py
  tests/test_documents.py
  tests/test_service_mixins.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Follow server next URLs and prefetch the following page
  pypaperless/pagination.py
  pypaperless/services/mixins/iterable.py
  tests/test_client.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Adjust code agent instructions and skills
  .agent/skills/pp-add-resource/SKILL.md
  .agent/skills/pp-add-resource/references/patterns.md
  .agent/skills/pp-update-filters/SKILL.md
  .claude/skills
  .github/copilot-instructions.md
  .github/skills
  AGENTS.md
  CLAUDE.md
Due: codespell

Consolidate agent instructions into a symlink single source of truth
  .agent/skills/pp-add-resource/SKILL.md
  .agent/skills/pp-add-resource/references/patterns.md
  .agent/skills/pp-update-filters/SKILL.md
  AGENTS.md
  README.md
Due: codespell

feat: add tasks.status_counts() and missing Config llm_* fields
  docs/resources/tasks.md
  pypaperless/const.py
  pypaperless/models/config.py
  pypaperless/models/tasks.py
  pypaperless/models/types.py
  pypaperless/services/tasks.py
  script/pngx_audit_coverage.py
  script/pngx_smoketest.py
  tests/data/__init__.py
  tests/data/schema.json
  tests/data/tasks.py
  tests/test_resources.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, codespell, mypy, pylint, pytest

refactor: type previously-untyped enum fields for Config, MailAccount, MailRule
  pypaperless/models/config.py
  pypaperless/models/mails/accounts.py
  pypaperless/models/mails/rules.py
  pypaperless/models/saved_views.py
  pypaperless/models/types.py
  script/pngx_audit_coverage.py
  tests/test_types.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Remove upper bound
  pyproject.toml
  uv.lock
Due: check-toml, codespell

Remove upper bound from requires-python constraint
  pyproject.toml
  uv.lock
Due: check-toml, codespell

Remove upper bound from requires-python constraint (#686)
  pyproject.toml
  uv.lock
Due: check-toml, codespell

Remove plain dev credentials from md
  .agent/skills/pp-add-resource/SKILL.md
  .env.example
  AGENTS.md
  script/_dev_env.py
  script/pngx_audit_coverage.py
  script/pngx_fetch_schema.py
  script/pngx_smoketest.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Remove plain dev credentials from md (#691)
  .agent/skills/pp-add-resource/SKILL.md
  .env.example
  AGENTS.md
  script/_dev_env.py
  script/pngx_audit_coverage.py
  script/pngx_fetch_schema.py
  script/pngx_smoketest.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Fix repo urls
  README.md
Due: codespell

Fix repo urls (#692)
  README.md
Due: codespell

Update docs to current lib state
  docs/exceptions.md
  docs/migrating-v5-to-v6.md
  docs/resources.md
  docs/resources/documents.md
Due: codespell

Update docs to current lib state (#693)
  docs/exceptions.md
  docs/migrating-v5-to-v6.md
  docs/resources.md
  docs/resources/documents.md
Due: codespell

Remove sigstore step
  .github/workflows/release.yml
Due: check-yaml, codespell, yamllint

Remove sigstore step (#694)
  .github/workflows/release.yml
Due: check-yaml, codespell, yamllint

fix race condition in concurrent path
  script/pngx_smoketest.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest
