Repository tb1337/paperless-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, mypy, pylint, pytest, yamllint

ruff-check:
  name: ğŸ¶ Ruff Linter
  language: system
  entry: uv run ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: ğŸ¶ Ruff Formatter
  language: system
  entry: uv run ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-ast:
  name: ğŸ Check Python AST
  language: system
  entry: uv run check-ast

check-docstring-first:
  name: â„¹ï¸  Check docstring is first
  language: system
  entry: uv run check-docstring-first

check-json:
  name: ï½› Check JSON files
  language: system
  entry: uv run check-json

check-toml:
  name: âœ… Check TOML files
  language: system
  entry: uv run check-toml

check-yaml:
  name: âœ… Check YAML files
  language: system
  entry: uv run check-yaml

codespell:
  name: âœ… Check code for common misspellings
  language: system
  entry: uv run codespell

mypy:
  name: ğŸ† Static type checking using mypy
  language: system
  entry: uv run mypy
  require_serial: true

pylint:
  name: ğŸŒŸ Starring code with pylint
  language: system
  entry: uv run pylint

pytest:
  name: ğŸ§ª Running tests and test coverage with pytest
  language: system
  entry: uv run pytest
  pass_filenames: false

yamllint:
  name: ğŸ—  Check YAML files with yamllint
  language: system
  entry: uv run yamllint

Fix version number
  docs/3_custom_fields.md
Due: codespell

Improve documentation (#469)
  .devcontainer/devcontainer.json
  README.md
  docs/1_basic_usage.md
  docs/2_documents.md
  docs/3_custom_fields.md
  docs/4_permissions.md
  docs/README.md
  docs/usage.md
Due: check-json, codespell

Update compatibility matrix
  README.md
Due: codespell

Update compatibility matrix (#475)
  README.md
Due: codespell

Remove legacy and openapi init funcs
  pypaperless/api.py
  pypaperless/const.py
  tests/conftest.py
  tests/test_common.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Remove legacy and openapi init funcs (#476)
  pypaperless/api.py
  pypaperless/const.py
  tests/conftest.py
  tests/test_common.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Fix python version
  pyproject.toml
  uv.lock
Due: check-toml, codespell

Fix python version (#477)
  pyproject.toml
  uv.lock
Due: check-toml, codespell

Remove local/remote resources
  pypaperless/api.py
  pypaperless/models/base.py
  pypaperless/models/classifiers.py
  pypaperless/models/config.py
  pypaperless/models/custom_fields.py
  pypaperless/models/documents.py
  pypaperless/models/mails.py
  pypaperless/models/permissions.py
  pypaperless/models/remote_version.py
  pypaperless/models/saved_views.py
  pypaperless/models/share_links.py
  pypaperless/models/statistics.py
  pypaperless/models/status.py
  pypaperless/models/tasks.py
  pypaperless/models/workflows.py
  tests/test_common.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Reorganize helpers and typing
  pypaperless/api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

fix parsing created date (fixes #482)
  pypaperless/models/utils/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

allow credentials by making the token optional
  README.md
  pypaperless/api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Remove remote endpoint checking (#486)
  pypaperless/api.py
  pypaperless/models/base.py
  pypaperless/models/classifiers.py
  pypaperless/models/config.py
  pypaperless/models/custom_fields.py
  pypaperless/models/documents.py
  pypaperless/models/mails.py
  pypaperless/models/permissions.py
  pypaperless/models/remote_version.py
  pypaperless/models/saved_views.py
  pypaperless/models/share_links.py
  pypaperless/models/statistics.py
  pypaperless/models/status.py
  pypaperless/models/tasks.py
  pypaperless/models/workflows.py
  tests/test_common.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Raise api version
  pypaperless/const.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Remove comment
  pypaperless/const.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Raise api version (#487)
  pypaperless/const.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Remove api versions from tests
  tests/__init__.py
  tests/conftest.py
  tests/data/__init__.py
  tests/data/config.py
  tests/data/correspondents.py
  tests/data/custom_fields.py
  tests/data/document_metadata.py
  tests/data/document_notes.py
  tests/data/document_suggestions.py
  tests/data/document_types.py
  tests/data/documents.py
  tests/data/documents_search.py
  tests/data/groups.py
  tests/data/mail.py
  tests/data/object_permissions.py
  tests/data/paths.py
  tests/data/remote_version.py
  tests/data/saved_views.py
  tests/data/schema.json
  tests/data/share_links.py
  tests/data/statistics.py
  tests/data/status.py
  tests/data/storage_paths.py
  tests/data/tags.py
  tests/data/tasks.py
  tests/data/token.py
  tests/data/users.py
  tests/data/v0_0_0.py
  tests/data/workflow.py
  tests/test_common.py
  tests/test_models_matrix.py
  tests/test_models_specific.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, codespell, mypy, pylint, pytest

Remove api versions from tests (#488)
  tests/__init__.py
  tests/conftest.py
  tests/data/__init__.py
  tests/data/config.py
  tests/data/correspondents.py
  tests/data/custom_fields.py
  tests/data/document_metadata.py
  tests/data/document_notes.py
  tests/data/document_suggestions.py
  tests/data/document_types.py
  tests/data/documents.py
  tests/data/documents_search.py
  tests/data/groups.py
  tests/data/mail.py
  tests/data/object_permissions.py
  tests/data/paths.py
  tests/data/remote_version.py
  tests/data/saved_views.py
  tests/data/schema.json
  tests/data/share_links.py
  tests/data/statistics.py
  tests/data/status.py
  tests/data/storage_paths.py
  tests/data/tags.py
  tests/data/tasks.py
  tests/data/token.py
  tests/data/users.py
  tests/data/v0_0_0.py
  tests/data/workflow.py
  tests/test_common.py
  tests/test_models_matrix.py
  tests/test_models_specific.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, codespell, mypy, pylint, pytest

fix parsing created date (fixes #482) (#483)
  pypaperless/models/utils/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Fix RUF013
  pypaperless/api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

allow credentials by making the token optional (#484)
  README.md
  pypaperless/api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Remove python patch version
  pyproject.toml
  uv.lock
Due: check-toml, codespell

Remove python patch version (#503)
  pyproject.toml
  uv.lock
Due: check-toml, codespell

Update README.md
  README.md
Due: codespell

Update README.md (#504)
  README.md
Due: codespell

Add gh cli
  Dockerfile.dev
Due: codespell

Fix creating venv
  script/bootstrap
Due: codespell

Container fixes (#511)
  Dockerfile.dev
  script/bootstrap
Due: codespell

Disable pylint invalid-name
  pypaperless/const.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Remove synchronize
  .github/workflows/pr-labels.yml
Due: check-yaml, codespell, yamllint

Remove synchronize (#519)
  .github/workflows/pr-labels.yml
Due: check-yaml, codespell, yamllint

Update Dockerfile.dev
  Dockerfile.dev
Due: codespell

Update renovate.json
  .github/renovate.json
Due: check-json, codespell

Remove vsintellicode
  .devcontainer/devcontainer.json
Due: check-json, codespell

Update to python 3.14
  Dockerfile.dev
Due: codespell

Update workflows
  .github/workflows/linting.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .github/workflows/typing.yml
Due: check-yaml, codespell, yamllint

Add logic
  pypaperless/const.py
  pypaperless/exceptions.py
  pypaperless/models/documents.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add test
  tests/test_models_specific.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add send documents as email (#535)
  pypaperless/const.py
  pypaperless/exceptions.py
  pypaperless/models/documents.py
  tests/test_models_specific.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add helper and model
  pypaperless/api.py
  pypaperless/const.py
  pypaperless/helpers.py
  pypaperless/models/__init__.py
  pypaperless/models/mails.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  codespell: any file but: ^(uv\.lock|requirements\.txt|requirements_dev.txt)$
  mypy: any of: \.py$
  pylint: any of: \.py$
  pytest: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
