Repository tb1337/paperless-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, mypy, pylint, pytest, yamllint

ruff-check:
  name: ğŸ¶ Ruff Linter
  language: system
  entry: uv run ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: ğŸ¶ Ruff Formatter
  language: system
  entry: uv run ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-ast:
  name: ğŸ Check Python AST
  language: system
  entry: uv run check-ast

check-docstring-first:
  name: â„¹ï¸  Check docstring is first
  language: system
  entry: uv run check-docstring-first

check-json:
  name: ï½› Check JSON files
  language: system
  entry: uv run check-json

check-toml:
  name: âœ… Check TOML files
  language: system
  entry: uv run check-toml

check-yaml:
  name: âœ… Check YAML files
  language: system
  entry: uv run check-yaml

codespell:
  name: âœ… Check code for common misspellings
  language: system
  entry: uv run codespell

mypy:
  name: ğŸ† Static type checking using mypy
  language: system
  entry: uv run mypy
  require_serial: true

pylint:
  name: ğŸŒŸ Starring code with pylint
  language: system
  entry: uv run pylint

pytest:
  name: ğŸ§ª Running tests and test coverage with pytest
  language: system
  entry: uv run pytest
  pass_filenames: false

yamllint:
  name: ğŸ—  Check YAML files with yamllint
  language: system
  entry: uv run yamllint

Update docs
  docs/concepts/custom_fields.md
  docs/concepts/documents.md
  docs/exceptions.md
  docs/index.md
  docs/migrating-v5-to-v6.md
  docs/quickstart.md
  docs/resources.md
  docs/resources/correspondents.md
  docs/resources/custom_fields.md
  docs/resources/document_types.md
  docs/resources/documents.md
  docs/resources/search.md
  docs/resources/share_links.md
  docs/resources/storage_paths.md
  docs/resources/tags.md
  docs/session.md
Due: codespell

Update docs
  docs/resources.md
  docs/session.md
Due: codespell

Remove cli
  .github/copilot-instructions.md
  pypaperless/__main__.py
  pypaperless/cli.py
  pyproject.toml
  tests/test_cli.py
  uv.lock
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, codespell, mypy, pylint, pytest

Add minor improvements
  pypaperless/models/documents/document.py
  pypaperless/services/documents/document.py
  pypaperless/services/mixins/iterable.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Remove dead configs
  .devcontainer/devcontainer.json
  script/setup
Due: check-json, codespell

Improve DocumentNoteService to use document data, if available
  pypaperless/models/documents/document.py
  pypaperless/models/documents/notes.py
  pypaperless/services/documents/notes.py
  tests/data/documents.py
  tests/test_documents.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Improve handling of notes_
  docs/concepts/documents.md
  docs/resources/documents.md
  pypaperless/models/documents/document.py
  script/pngx_smoketest.py
  tests/test_documents.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Improve tests
  tests/test_documents.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Refactor document notes (#588)
  .devcontainer/devcontainer.json
  docs/concepts/documents.md
  docs/resources/documents.md
  pypaperless/models/documents/document.py
  pypaperless/models/documents/notes.py
  pypaperless/services/documents/notes.py
  script/pngx_smoketest.py
  script/setup
  tests/data/documents.py
  tests/test_documents.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, codespell, mypy, pylint, pytest

Fix ruff error
  pypaperless/client.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Remove `all` from iterable and tests
  docs/migrating-v5-to-v6.md
  docs/resources.md
  pypaperless/const.py
  pypaperless/pagination.py
  pypaperless/services/mixins/iterable.py
  script/pngx_smoketest.py
  tests/data/correspondents.py
  tests/data/custom_fields.py
  tests/data/document_types.py
  tests/data/documents.py
  tests/data/documents_search.py
  tests/data/groups.py
  tests/data/mails.py
  tests/data/saved_views.py
  tests/data/schema.json
  tests/data/share_links.py
  tests/data/storage_paths.py
  tests/data/tags.py
  tests/data/trash.py
  tests/data/users.py
  tests/data/workflows.py
  tests/test_service_mixins.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, codespell, mypy, pylint, pytest

Add missing fields and types
  .github/skills/add-resource/SKILL.md
  pypaperless/models/config.py
  pypaperless/models/documents/document.py
  pypaperless/models/mails/rules.py
  pypaperless/models/saved_views.py
  pypaperless/models/types.py
  pypaperless/models/workflows/actions.py
  pypaperless/models/workflows/triggers.py
  script/pngx_audit_coverage.py
  tests/data/saved_views.py
  tests/test_types.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Fix repr
  pypaperless/models/saved_views.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Refactor tasks service to the new api
  docs/migrating-v5-to-v6.md
  pypaperless/const.py
  pypaperless/models/filters.py
  pypaperless/models/status.py
  pypaperless/models/tasks.py
  pypaperless/models/types.py
  pypaperless/models/workflows/actions.py
  pypaperless/services/tasks.py
  script/pngx_audit_coverage.py
  script/pngx_smoketest.py
  tests/data/__init__.py
  tests/data/tasks.py
  tests/test_resources.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add share_link_bundles resource
  docs/resources/share_link_bundles.md
  pypaperless/client.py
  pypaperless/const.py
  pypaperless/models/__init__.py
  pypaperless/models/filters.py
  pypaperless/models/share_links/__init__.py
  pypaperless/models/share_links/bundle.py
  pypaperless/models/share_links/share_link.py
  pypaperless/models/types.py
  pypaperless/services/__init__.py
  pypaperless/services/share_links/__init__.py
  pypaperless/services/share_links/bundle.py
  pypaperless/services/share_links/share_link.py
  script/pngx_audit_coverage.py
  script/pngx_smoketest.py
  tests/data/__init__.py
  tests/data/share_link_bundles.py
  tests/mappings.py
  tests/test_filters.py
  tests/test_resources.py
  tests/test_service_mixins.py
  zensical.toml
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, codespell, mypy, pylint, pytest

Add missing field
  pypaperless/models/config.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add ai_suggestions and chat to documents
  pypaperless/const.py
  pypaperless/models/__init__.py
  pypaperless/models/documents/__init__.py
  pypaperless/models/documents/ai_suggestions.py
  pypaperless/models/documents/chat.py
  pypaperless/models/documents/document.py
  pypaperless/services/documents/ai_suggestions.py
  pypaperless/services/documents/chat.py
  pypaperless/services/documents/document.py
  script/pngx_audit_coverage.py
  script/pngx_smoketest.py
  tests/data/__init__.py
  tests/data/document_ai_suggestions.py
  tests/data/document_chat.py
  tests/test_documents.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add document versions
  pypaperless/const.py
  pypaperless/models/__init__.py
  pypaperless/models/documents/__init__.py
  pypaperless/models/documents/document.py
  pypaperless/models/documents/versions.py
  pypaperless/services/documents/document.py
  pypaperless/services/documents/versions.py
  script/pngx_audit_coverage.py
  script/pngx_smoketest.py
  tests/data/__init__.py
  tests/data/document_root.py
  tests/data/document_version_info.py
  tests/test_documents.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Fix audit
  script/pngx_audit_coverage.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Fix document notes
  docs/concepts/documents.md
  docs/resources/documents.md
  pypaperless/services/documents/notes.py
  tests/test_documents.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Update filters
  .github/skills/update-filters/SKILL.md
  pypaperless/models/filters.py
  script/pngx_audit_coverage.py
  script/pngx_fetch_schema.py
  tests/data/schema.json
  tests/test_filters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, codespell, mypy, pylint, pytest

Refactor search builder to Tantivy
  docs/concepts/search_query.md
  pypaperless/builders/search.py
  tests/test_search_builder.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add builders to filters
  pypaperless/models/filters.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Document why services/documents/__init__.py stays empty
  pypaperless/services/documents/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Move DocumentService.filter() after __init__
  pypaperless/services/documents/document.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

docs(tasks): align with v6 / API v10 Task model and service
  docs/resources/tasks.md
Due: codespell

docs: convert direct filter() iteration to context-manager pattern
  README.md
  docs/resources/share_link_bundles.md
  docs/resources/trash.md
Due: codespell

docs: list every required draft field on create() examples
  docs/resources/correspondents.md
  docs/resources/document_types.md
  docs/resources/storage_paths.md
  docs/resources/tags.md
Due: codespell

docs(custom_fields): fix cache and DocumentCustomFieldList access
  docs/concepts/custom_fields.md
  docs/concepts/documents.md
Due: codespell

docs: align prose with v6 service API (renamed/removed shortcuts)
  docs/concepts/permissions.md
  docs/exceptions.md
  docs/quickstart.md
  docs/resources.md
  docs/resources/mail_accounts.md
  docs/resources/search.md
Due: codespell

docs(share_links, profile): fix save() return type and Profile fields
  docs/migrating-v5-to-v6.md
  docs/resources/share_links.md
Due: codespell

docs: complete resource matrices and fix cross-references
  docs/index.md
  docs/resources.md
  docs/resources/share_links.md
  docs/session.md
Due: codespell

docs: miscellaneous lib-vs-doc inconsistencies
  docs/concepts/custom_field_query.md
  docs/concepts/documents.md
  docs/resources/config.md
  docs/resources/processed_mail.md
  docs/resources/saved_views.md
  docs/resources/status.md
Due: codespell

Documentation fixes (#620)
  README.md
  docs/concepts/custom_field_query.md
  docs/concepts/custom_fields.md
  docs/concepts/documents.md
  docs/concepts/permissions.md
  docs/exceptions.md
  docs/index.md
  docs/migrating-v5-to-v6.md
  docs/quickstart.md
  docs/resources.md
  docs/resources/config.md
  docs/resources/correspondents.md
  docs/resources/document_types.md
  docs/resources/mail_accounts.md
  docs/resources/processed_mail.md
  docs/resources/saved_views.md
  docs/resources/search.md
  docs/resources/share_link_bundles.md
  docs/resources/share_links.md
  docs/resources/status.md
  docs/resources/storage_paths.md
  docs/resources/tags.md
  docs/resources/tasks.md
  docs/resources/trash.md
  docs/session.md
Due: codespell

📝 Add CLAUDE.md guide for AI assistants
  CLAUDE.md
Due: codespell

⚡ Optimize GitHub Actions to drastically reduce CI minutes
  .github/workflows/linting.yml
  .github/workflows/lock.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/tests.yml
  .github/workflows/typing.yml
Due: check-yaml, codespell, yamllint

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  codespell: any file but: ^(uv\.lock|requirements\.txt|requirements_dev.txt)$
  mypy: any of: \.py$
  pylint: any of: \.py$
  pytest: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
