Repository tb1337/paperless-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, mypy, pylint, pytest, yamllint

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 41.1.4
    hooks:
      - id: renovate-config-validator
  - repo: local
    hooks:
      - id: ruff-check
        name: ğŸ¶ Ruff Linter
        language: system
        types: [python]
        entry: uv run ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: ğŸ¶ Ruff Formatter
        language: system
        types: [python]
        entry: uv run ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-ast
        name: ğŸ Check Python AST
        language: system
        types: [python]
        entry: uv run check-ast
      - id: check-case-conflict
        name: ğŸ”  Check for case conflicts
        language: system
        entry: uv run check-case-conflict
      - id: check-docstring-first
        name: â„¹ï¸  Check docstring is first
        language: system
        types: [python]
        entry: uv run check-docstring-first
      # - id: check-executables-have-shebangs
      #   name: ğŸ§ Check that executables have shebangs
      #   language: system
      #   types: [text, executable]
      #   entry: uv run check-executables-have-shebangs
      #   stages: [commit, push, manual]
      - id: check-json
        name: ï½› Check JSON files
        language: system
        types: [json]
        entry: uv run check-json
      - id: check-merge-conflict
        name: ğŸ’¥ Check for merge conflicts
        language: system
        types: [text]
        entry: uv run check-merge-conflict
      - id: check-symlinks
        name: ğŸ”— Check for broken symlinks
        language: system
        types: [symlink]
        entry: uv run check-symlinks
      - id: check-toml
        name: âœ… Check TOML files
        language: system
        types: [toml]
        entry: uv run check-toml
      - id: check-xml
        name: âœ… Check XML files
        entry: uv run check-xml
        language: system
        types: [xml]
      - id: check-yaml
        name: âœ… Check YAML files
        language: system
        types: [yaml]
        entry: uv run check-yaml
      - id: codespell
        name: âœ… Check code for common misspellings
        language: system
        types: [text]
        exclude: ^(uv\.lock|requirements\.txt|requirements_dev.txt)$
        entry: uv run codespell
      - id: detect-private-key
        name: ğŸ•µï¸  Detect Private Keys
        language: system
        types: [text]
        entry: uv run detect-private-key
      - id: end-of-file-fixer
        name: â®  Fix End of Files
        language: system
        types: [text]
        entry: uv run end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: mypy
        name: ğŸ† Static type checking using mypy
        language: system
        types: [python]
        entry: uv run mypy
        require_serial: true
      - id: no-commit-to-branch
        name: ğŸ›‘ Don't commit to main branch
        language: system
        entry: uv run no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: pylint
        name: ğŸŒŸ Starring code with pylint
        language: system
        types: [python]
        entry: uv run pylint
      - id: pytest
        name: ğŸ§ª Running tests and test coverage with pytest
        language: system
        types: [python]
        entry: uv run pytest
        pass_filenames: false
      - id: trailing-whitespace
        name: âœ„  Trim Trailing Whitespace
        language: system
        types: [text]
        entry: uv run trailing-whitespace-fixer
        stages: [pre-commit, pre-push, manual]
      - id: yamllint
        name: ğŸ—  Check YAML files with yamllint
        language: system
        types: [yaml]
        entry: uv run yamllint

Add tests
  tests/__init__.py
  tests/data/__init__.py
  tests/data/mail.py
  tests/test_models_matrix.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add processed mail endpoint (#536)
  pypaperless/api.py
  pypaperless/const.py
  pypaperless/helpers.py
  pypaperless/models/__init__.py
  pypaperless/models/mails.py
  tests/__init__.py
  tests/data/__init__.py
  tests/data/mail.py
  tests/test_models_matrix.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add nested tag logic
  pypaperless/models/classifiers.py
  pypaperless/models/utils/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add nested tag logic (#537)
  pypaperless/models/classifiers.py
  pypaperless/models/utils/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add missing model fields and types
  pypaperless/models/common.py
  pypaperless/models/tasks.py
  pypaperless/models/workflows.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add tests for new subtypes
  tests/test_common.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add new fields and types (#538)
  pypaperless/models/common.py
  pypaperless/models/tasks.py
  pypaperless/models/workflows.py
  tests/test_common.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Update renovate.json
  .github/release-drafter.yml
  .github/renovate.json
Due: check-json, check-yaml, codespell, yamllint

Update renovate.json (#539)
  .github/release-drafter.yml
  .github/renovate.json
Due: check-json, check-yaml, codespell, yamllint

Update README.md
  README.md
Due: codespell

Update README.md (#540)
  README.md
Due: codespell

Update README.md: needs Python 3.14
  README.md
Due: codespell

Add `custom_field_query`
  docs/2_documents.md
  pypaperless/models/documents.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Add test
  tests/test_models_specific.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Fix python version
  pyproject.toml
  uv.lock
Due: check-toml, codespell

Add `custom_field_query` to `document.search` (#544)
  docs/2_documents.md
  pypaperless/models/documents.py
  pyproject.toml
  tests/test_models_specific.py
  uv.lock
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, codespell, mypy, pylint, pytest

Disable update python
  .github/renovate.json
Due: check-json, codespell

Disable renovate updating pytohn min req (#562)
  .github/renovate.json
Due: check-json, codespell

Fix type annotation
  pypaperless/models/classifiers.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Fix tests action
  .github/workflows/tests.yml
Due: check-yaml, codespell, yamllint

Remove unused var
  .github/workflows/tests.yml
Due: check-yaml, codespell, yamllint

Fix code compatibility below python 3.14 (#563)
  .github/workflows/tests.yml
  pypaperless/models/classifiers.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-yaml, codespell, mypy, pylint, pytest, yamllint

Add issue temlates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Due: check-yaml, codespell, yamllint

Add issue temlates (#564)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Due: check-yaml, codespell, yamllint

Convert issue template to form
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: check-yaml, codespell, yamllint

Convert issue template to form (#565)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: check-yaml, codespell, yamllint

Allow dict for custom fields on document draft
  pypaperless/models/documents.py
  tests/__init__.py
  tests/test_models_specific.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

a dict must be serialized to a string to be proessed by paperless api
  pypaperless/models/utils/__init__.py
  tests/test_common.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Conversion to pydantic models
  .pre-commit-config.yaml
  pypaperless/api.py
  pypaperless/models/__init__.py
  pypaperless/models/base.py
  pypaperless/models/classifiers.py
  pypaperless/models/common.py
  pypaperless/models/config.py
  pypaperless/models/custom_fields.py
  pypaperless/models/documents.py
  pypaperless/models/mails.py
  pypaperless/models/mixins/models/creatable.py
  pypaperless/models/mixins/models/data_fields.py
  pypaperless/models/mixins/models/deletable.py
  pypaperless/models/mixins/models/securable.py
  pypaperless/models/mixins/models/updatable.py
  pypaperless/models/pages.py
  pypaperless/models/permissions.py
  pypaperless/models/remote_version.py
  pypaperless/models/saved_views.py
  pypaperless/models/share_links.py
  pypaperless/models/statistics.py
  pypaperless/models/status.py
  pypaperless/models/tasks.py
  pypaperless/models/utils/__init__.py
  pypaperless/models/workflows.py
  pyproject.toml
  tests/conftest.py
  tests/const.py
  tests/test_common.py
  tests/test_models_matrix.py
  tests/test_models_specific.py
  uv.lock
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, check-yaml, codespell, mypy, pylint, pytest, yamllint

Refactor code
  pypaperless/models/base.py
  pypaperless/models/classifiers.py
  pypaperless/models/common.py
  pypaperless/models/config.py
  pypaperless/models/custom_fields.py
  pypaperless/models/documents.py
  pypaperless/models/mails.py
  pypaperless/models/mixins/helpers/iterable.py
  pypaperless/models/mixins/models/updatable.py
  pypaperless/models/pages.py
  pypaperless/models/permissions.py
  pypaperless/models/saved_views.py
  pypaperless/models/share_links.py
  pypaperless/models/tasks.py
  pypaperless/models/workflows.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Split logic into client, services and model
  pypaperless/api.py
  pypaperless/helpers.py
  pypaperless/models/base.py
  pypaperless/models/classifiers.py
  pypaperless/models/common.py
  pypaperless/models/config.py
  pypaperless/models/custom_fields.py
  pypaperless/models/documents.py
  pypaperless/models/generators/page.py
  pypaperless/models/mails.py
  pypaperless/models/mixins/models/creatable.py
  pypaperless/models/mixins/models/deletable.py
  pypaperless/models/mixins/models/updatable.py
  pypaperless/models/mixins/services/__init__.py
  pypaperless/models/mixins/services/callable.py
  pypaperless/models/mixins/services/draftable.py
  pypaperless/models/mixins/services/iterable.py
  pypaperless/models/mixins/services/securable.py
  pypaperless/models/pages.py
  pypaperless/models/permissions.py
  pypaperless/models/remote_version.py
  pypaperless/models/saved_views.py
  pypaperless/models/share_links.py
  pypaperless/models/statistics.py
  pypaperless/models/status.py
  pypaperless/models/tasks.py
  pypaperless/models/workflows.py
  pypaperless/services.py
  tests/__init__.py
  tests/test_common.py
  tests/test_models_specific.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Move logic into services
  pypaperless/models/base.py
  pypaperless/models/classifiers.py
  pypaperless/models/custom_fields.py
  pypaperless/models/documents.py
  pypaperless/models/generators/page.py
  pypaperless/models/mixins/models/__init__.py
  pypaperless/models/mixins/models/creatable.py
  pypaperless/models/mixins/models/deletable.py
  pypaperless/models/mixins/models/updatable.py
  pypaperless/models/mixins/services/__init__.py
  pypaperless/models/mixins/services/callable.py
  pypaperless/models/mixins/services/deletable.py
  pypaperless/models/mixins/services/draftable.py
  pypaperless/models/mixins/services/updatable.py
  pypaperless/models/pages.py
  pypaperless/models/remote_version.py
  pypaperless/models/share_links.py
  pypaperless/models/statistics.py
  pypaperless/models/status.py
  pypaperless/models/tasks.py
  tests/test_common.py
  tests/test_models_matrix.py
  tests/test_models_specific.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Remove PaperlessProtocol
  pypaperless/api.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Fix mypy errors
  pypaperless/models/base.py
  pypaperless/models/common.py
  pypaperless/models/documents.py
  pypaperless/models/mixins/creatable.py
  pypaperless/models/pages.py
  pypaperless/services/mixins/updatable.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Fix pylint errors
  pypaperless/api.py
  pypaperless/models/__init__.py
  pypaperless/models/base.py
  pypaperless/models/common.py
  pypaperless/models/documents.py
  pypaperless/models/mixins/creatable.py
  pypaperless/models/utils/__init__.py
  pypaperless/services/documents.py
  pypaperless/services/mixins/deletable.py
  pypaperless/services/mixins/draftable.py
  pypaperless/services/mixins/updatable.py
  tests/test_common.py
  tests/test_models_matrix.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Fix ruff errors
  pypaperless/models/base.py
  pypaperless/models/documents.py
  pypaperless/services/documents.py
  pypaperless/services/mixins/callable.py
  pypaperless/services/tasks.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, codespell, mypy, pylint, pytest

Replace pre-commit with prek
  .pre-commit-config.yaml
  pyproject.toml
  script/setup
  uv.lock
Due: check-toml, check-yaml, codespell, yamllint

Enable ruff check
  .pre-commit-config.yaml
Due: check-yaml, codespell, yamllint

Enable ruff format
  .pre-commit-config.yaml
Due: check-yaml, codespell, yamllint
